body{
    /* background-color: #593e70; */
    background-color: #37352f;
    color: #dcdcdc;
    font-family: 'Courier New', Courier, monospace;

}

h1{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

#genButton{
    color: #dddddd;
    background-color: #204346;
    border: none;
    font-size: larger;
    padding: 5px;
    text-align: center;
    margin-right: 10%;
}

#anwser{
    text-align: center;
    display: flex;
    justify-content: center
}
